@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgb(148, 119, 201);
}

.proSection {
    display: flex;
    background-color: rgb(194, 244, 255);
}

.navbar-section {
    position: sticky;
    top: 0;
}

.navSection {
    display: flex;
    width: 100%;
    min-width: 100vw;
    height: 80px;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7iAFZFfPt7bWhnfPAIbVsUutOHLFMjB4GPnOdZnnZQeJzTfUo1Qjh4M5XXHi5wQqO_z8&usqp=CAU);
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
}

.title h2 {
    color: rgb(0, 0, 0);
    text-shadow: 4px 1px  rgb(120, 112, 112);
    font-family:cursive;
    font-size: 35px;
}

.custom-link {
    text-decoration: none;
}

.user {
    display: flex;
    width: 20%;
    justify-content: space-between;
    align-items: center;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.user:hover{
   
    color: rgb(82, 80, 80);
     
}

.search {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
}

.search input {
    width: 70%;
    height: 2rem;
    border-radius: 10px;
    padding-left: 10px;
    font-weight: 400;
    font-size: medium;
}

.imgBox {
    width: 80%;
    padding-left: 20px;
}

.proImage {
    width: 90%;
    margin: 10px;
}

.proTitle h2 {
    margin: 10px;
}

.subMenu ul li {
    list-style: none;
    margin: 26px;
    padding: 0px 17px;
    margin-top: 13px;
    cursor: pointer;
    align-items: center;
}

.subMenu ul li:hover {
    border-bottom: 2px solid white;
    color: black;
}

.subMenu {
    background-color: gray;
    color: azure;
    height: 60px;
}

.subMenu ul {
    display: inline-flex;
    align-items: center;
}

.pageSection {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 10px;
   
}

.pageImg {
    width: 250px;
    height: 250px;
    padding-top: 20px;
    
}


.pageImg img {
    width: 80%;
}

.pageImg img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.ind-image {
    width: 400px;
    height: 400px;
    margin: 10px;
    border: 2px solid black;
}

.ind-section {
    display: flex;
}

.ind-image img {
    width: 100%;
}

.ind-price{
    color: red;
}
.ind-details {
    padding: 20px;
}

.ind-desc p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.space {
    margin: 10px;
}

.ind-details button {
    background-color: orangered;
    margin-top: 50px;
    padding: 10px;
    width: 10rem;
    border-radius: 5px;
    columns: white;
}

.ind-details button:hover {
    background-color: green;
    color: white;
    cursor: pointer;
}

.fullpage {
    display: flex;
   
}

.pro-selected {
    width: 27%;
    border: 1px solid black;
}

.pro-selected {
    width: 200px;
    
    height: 200vh;
    background-color: rgb(246, 255, 240);
    float: left;
    padding: 10px ;
}
label:hover{
    color: red;
}

.pageSection {
    margin-left: 120px;
    width: 70%;
    float: right;
}

.pro-input input {
    margin: 30px;

}

ul li {
    color: white;
}

.cart-section {
    display: flex;
    border: 3px double gray;
    width: 50%;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.cart-img img {
    width: 50%;
}

.cart-details {
    width: 50%;
}

.cart {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.cart:hover{
    color: rgb(74, 70, 70);
}

.cart span {
    color: rgb(0, 0, 0);
    font-size: xx-large;
    margin-left: 5px;
    font-weight: 600;
}
.cart span:hover{
   color: rgb(255, 0, 0);
}

.y-cart {
    text-align: center;
}

.empty {
    text-align: center;
}

.removeBtn {
    padding: 10px;
    width: 10rem;
    background-color: rgb(241, 79, 79);
    color: white;
}

.removeBtn:hover {
    background-color: red;
    cursor: pointer;
}
